pkgbase = garuda-system-maintenance
	pkgdesc = Automated Garuda system maintenance tool
	pkgver = 3.0.2
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/garuda-system-maintenance
	arch = x86_64
	license = GPL
	makedepends = qt5-tools
	makedepends = cmake
	makedepends = git
	makedepends = polkit
	depends = qt5-base
	depends = garuda-hotfixes
	depends = knotifications5
	depends = garuda-libs
	depends = snapper-tools
	replaces = garuda-settings-manager-knotifier-git
	replaces = garuda-settings-manager-notifier-git
	source = https://gitlab.com/garuda-linux/applications/garuda-system-maintenance/-/archive/7cf4dd87a2f36593f5c6ed5ebca0f2f3a9b6ed45/garuda-system-maintenance-7cf4dd87a2f36593f5c6ed5ebca0f2f3a9b6ed45.tar.gz
	sha256sums = SKIP

pkgname = garuda-system-maintenance
