pkgbase = garuda-system-maintenance
	pkgdesc = Automated Garuda system maintenance tool
	pkgver = 2.1.1
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/garuda-system-maintenance
	arch = x86_64
	license = GPL
	makedepends = qt5-tools
	makedepends = cmake
	makedepends = git
	makedepends = polkit
	depends = qt5-base
	depends = garuda-hotfixes
	depends = knotifications5
	depends = garuda-libs
	depends = snapper-tools
	replaces = garuda-settings-manager-knotifier-git
	replaces = garuda-settings-manager-notifier-git
	source = https://gitlab.com/garuda-linux/applications/garuda-system-maintenance/-/archive/25e715013649e8f4496f071cc5741b123f32e2ee/garuda-system-maintenance-25e715013649e8f4496f071cc5741b123f32e2ee.tar.gz
	sha256sums = SKIP

pkgname = garuda-system-maintenance
