pkgbase = calamares-garuda
	pkgdesc = Distribution-independent installer framework
	pkgver = 3.3.6.r29.g2e9618440
	pkgrel = 3
	url = https://github.com/calamares/calamares
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	makedepends = qt6-translations
	makedepends = git
	makedepends = boost
	depends = kconfig
	depends = kcoreaddons
	depends = kiconthemes
	depends = ki18n
	depends = solid
	depends = yaml-cpp
	depends = kpmcore
	depends = boost-libs
	depends = ckbcomp
	depends = hwinfo
	depends = qt6-svg
	depends = polkit-qt6
	depends = squashfs-tools
	depends = libpwquality
	depends = python
	depends = python-distutils-extra
	provides = calamares
	provides = calamares-dev
	conflicts = calamares
	conflicts = calamares-dev
	replaces = calamares-dev
	source = git+https://github.com/calamares/calamares.git#commit=2e9618440652a1adfaf8e125e2cc2f4cca3aa5cc
	source = garuda-fswhitelist.patch
	source = 0001-Apply-garuda-specific-patches.patch
	source = partition.conf
	source = mount.conf
	source = mhwdcfg.conf
	source = chrootcfg.conf
	sha256sums = d6aa1f6cc37012cda977436e6450ce7c7e9ea835effc34913b8b2633e847a1ce
	sha256sums = 81dbbfcc96f4e75ff9f11b59b6d715d2da93981810141691af1d58d4068253a7
	sha256sums = d681b09c9f6daf22efb08cbcaad577487b4c749205697bf61b96d053ab50db7c
	sha256sums = 13fefb868e4ad69a1a3cf75fb8e63d075e029b2b9b622b01689571c585bfb244
	sha256sums = 0a5acb473f36b6627ccf764b29c005f53dee3c1c7ccb2fc9935075027e220f43
	sha256sums = 13250117481c1ac8d13eac00b2efc0a6b006f19ffe7b93cd87bea04b88169c4b
	sha256sums = a98b4ed205c0cc8fa0b7833aec97e48b69aea8f414be4d8f44315ed9f1c62469

pkgname = calamares-garuda
