pkgbase = calamares-garuda
	pkgdesc = Distribution-independent installer framework
	pkgver = 3.4.0.r6.g78d4208a0
	pkgrel = 5
	url = https://https://calamares.codeberg.page
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	makedepends = qt6-translations
	makedepends = git
	makedepends = boost
	depends = kconfig
	depends = kcoreaddons
	depends = kiconthemes
	depends = ki18n
	depends = solid
	depends = yaml-cpp
	depends = kpmcore
	depends = boost-libs
	depends = ckbcomp
	depends = hwinfo
	depends = qt6-svg
	depends = polkit-qt6
	depends = squashfs-tools
	depends = libpwquality
	depends = python
	depends = python-distutils-extra
	provides = calamares
	provides = calamares-dev
	conflicts = calamares
	conflicts = calamares-dev
	replaces = calamares-dev
	source = git+https://codeberg.org/Calamares/calamares.git#commit=78d4208a03b0abdfb68e94c9c08a28f37a473ee6
	source = 0001-welcome-Add-efi-check.patch
	source = 0001-bootloader-Correct-a-logic-error-preventing-installa.patch
	source = garuda-specific-patches.patch
	sha256sums = 03a3f78232308d7522a8391b77c996d64a36278a8c06750bc25aa26d2ea64f67
	sha256sums = f0d818c865bccd7af4b3ffa9451f84c7d95afb27e3f58d478941990cbf7daa1a
	sha256sums = b019ab30907724f4f56ec56d41bd22794a88081fc0f1608d8cd65c4929a9c1e6
	sha256sums = 4e74007a55d122c99e05887c1996adf3450fbeb471ce1c85d81f7aabfd09eefe

pkgname = calamares-garuda
