pkgbase = calamares-garuda
	pkgdesc = Distribution-independent installer framework
	pkgver = 3.4.3.r3.g841b47857
	pkgrel = 1
	url = https://calamares.codeberg.page
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	makedepends = qt6-translations
	makedepends = git
	makedepends = boost
	depends = kconfig
	depends = kcoreaddons
	depends = kiconthemes
	depends = ki18n
	depends = solid
	depends = yaml-cpp
	depends = kpmcore
	depends = boost-libs
	depends = ckbcomp
	depends = hwinfo
	depends = qt6-svg
	depends = polkit-qt6
	depends = squashfs-tools
	depends = libpwquality
	depends = python
	depends = python-distutils-extra
	provides = calamares
	provides = calamares-dev
	conflicts = calamares
	conflicts = calamares-dev
	replaces = calamares-dev
	source = git+https://codeberg.org/Calamares/calamares.git#commit=841b478570c35261cd73e48c5aeb6acefd3db425
	source = 0001-welcome-Add-efi-check.patch
	source = garuda-specific-patches.patch
	source = garuda-fswhitelist.patch
	source = https://github.com/CachyOS/cachyos-calamares/commit/69ae039b037e466eb35dd20c674ff821f5bfa1be.patch
	source = https://github.com/CachyOS/cachyos-calamares/compare/f6b250ddbbc250c87319809ce7383c062ae13b11%5E..94fcc8b989295f5b626656ebab46e153185f3cf6.patch
	source = https://github.com/CachyOS/cachyos-calamares/commit/5afd22bd00176b00ff6d4a4a08855f1cabf6c820.patch
	sha256sums = c06dd6c394438a3a49570297fb28ef3cc615eb0b2171e978deaeeeb7e86db90d
	sha256sums = f0d818c865bccd7af4b3ffa9451f84c7d95afb27e3f58d478941990cbf7daa1a
	sha256sums = e7946ac97d88138267e2d5d65178d53e7ae16617fba87005710060da905a8465
	sha256sums = 5a4e5d1628125a4185741437111085dc77e05da3951f9741cfaee439572fdf32
	sha256sums = 6eee897e6f2c4a55daaaa02db1e939b4c48adb95405ffe9c113142fecc73c5b8
	sha256sums = 83634ef721534e3091f6cf89262e1e07861978fdd4dc28ab44df26d1f11aefa3
	sha256sums = 5eb259b63fc964910b7575464b4f5e8deaafb67d0501c2f93e47777edc0984a0

pkgname = calamares-garuda
