pkgbase = garuda-lxqt-kwin-settings
	pkgdesc = Garuda Linux LXQt-Kwin settings
	pkgver = 1.1.7
	pkgrel = 5
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-lxqt-kwin-settings
	install = garuda-lxqt-kwin-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = beautyline
	depends = garuda-common-settings
	depends = kvantum
	depends = lxqt-kwin-desktop-git
	depends = ttf-firacode-nerd
	depends = plasma5-themes-sweet-full-git
	depends = ttf-fira-sans
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-lxqt-kwin-settings/-/archive/0e146de439edaa0f15e28c997b5cc867610d78be/garuda-lxqt-kwin-settings-0e146de439edaa0f15e28c997b5cc867610d78be.tar.gz
	sha256sums = SKIP

pkgname = garuda-lxqt-kwin-settings
