pkgbase = garuda-settings-manager
	pkgdesc = Garuda Linux system settings (Manjaro settings manager ported to work with Arch standards and limited to only DKMS drivers)
	pkgver = 1.0.4
	pkgrel = 2
	url = https://gitlab.com/garuda-linux/applications/garuda-settings-manager
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = qt5-tools
	makedepends = knotifications5
	makedepends = kconfigwidgets5
	makedepends = kcmutils5
	depends = icu
	depends = qt5-base>=5.12.3
	depends = hwinfo
	depends = kitemmodels5
	depends = kauth5
	depends = kcoreaddons5
	depends = ckbcomp
	depends = xdg-utils
	depends = mhwd-garuda
	optdepends = garuda-settings-manager-notifier: qt-based
	optdepends = garuda-settings-manager-knotifier: knotifications-based
	conflicts = kcm-msm
	source = https://gitlab.com/garuda-linux/applications/garuda-settings-manager/-/archive/659a606f9b576775988e3c671eb7db8d41a2fa5e/garuda-settings-manager-659a606f9b576775988e3c671eb7db8d41a2fa5e.tar.gz
	sha256sums = SKIP

pkgname = garuda-settings-manager
	provides = garuda-settings-manager
	conflicts = garuda-settings-manager

pkgname = garuda-settings-manager-kcm
	pkgdesc = Garuda Linux system settings - KCM for Plasma 5
	depends = garuda-settings-manager
	depends = kcmutils
	depends = kconfigwidgets
	replaces = kcm-msm

pkgname = garuda-settings-manager-notifier
	pkgdesc = Garuda Linux system settings - notifier
	depends = garuda-settings-manager
	provides = garuda-settings-manager-kde-notifier
	conflicts = garuda-settings-manager-kde-notifier

pkgname = garuda-settings-manager-knotifier
	pkgdesc = Garuda Linux system settings - knotifier
	depends = garuda-settings-manager
	depends = knotifications
	conflicts = garuda-settings-manager-notifier
	replaces = garuda-settings-manager-kde-notifier
