pkgbase = timeshift-support
	pkgdesc = Support package for enabling Timeshift with timeshift-autosnap and grub-btrfs
	pkgver = 1
	pkgrel = 1
	url = https://garudalinux.org
	install = timeshift-support.install
	arch = any
	license = GPL3
	makedepends = git
	depends = timeshift
	depends = timeshift-autosnap
	depends = grub-btrfs
	conflicts = snapper-support
	conflicts = snapper
	conflicts = snap-pac
	source = grub-btrfs-timeshift.service
	source = grub-btrfs-timeshift.path
	source = timeshift-autosnap-fix.hook
	sha256sums = 84ecf8cc5e229f99f0f7b7187bfec59309de443820aaafe04e8f857b66e7dac8
	sha256sums = 391c7a98732cd4dec1309a441bbd978a3a25b42e5a41dc7cece149c55fdfb485
	sha256sums = 5cafaedbce7338f80201f6a3e87dcb6867299a42edfa911b63624e933f11cb9e

pkgname = timeshift-support
