pkgbase = garuda-assistant
	pkgdesc = An app which helps with all kind of system maintenance related tasks on Garuda Linux
	pkgver = 2.7.6
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/garuda-assistant
	arch = x86_64
	groups = garuda
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = qt5-tools
	depends = qt5-base
	depends = qt5-svg
	depends = noto-fonts
	depends = xdg-utils
	depends = polkit
	depends = reflector-simple
	depends = hblock
	depends = pace
	depends = garuda-update
	depends = garuda-libs
	depends = btrfs-assistant
	optdepends = snapper-tools
	source = garuda-assistant-2.7.6.tar.gz::https://gitlab.com/garuda-linux/applications/garuda-assistant/-/archive/2.7.6/garuda-assistant-2.7.6.tar.gz
	sha256sums = b58ba6078c10ec4de6f76e573b7eb6ac35836e3cb8f6fd38956b3dd516509e9e

pkgname = garuda-assistant
