pkgbase = garuda-assistant
	pkgdesc = An app which helps with all kind of system maintenance related tasks on Garuda Linux
	pkgver = 2.7.6
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/garuda-assistant
	arch = x86_64
	groups = garuda
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = qt5-tools
	depends = qt5-base
	depends = qt5-svg
	depends = noto-fonts
	depends = xdg-utils
	depends = polkit
	depends = reflector-simple
	depends = hblock
	depends = pace
	depends = garuda-update
	depends = garuda-libs
	depends = btrfs-assistant
	optdepends = snapper-tools
	source = https://gitlab.com/garuda-linux/applications/garuda-assistant/-/archive/35436ed61d8148fb18f02d0ca642c5caf8124331/garuda-assistant-35436ed61d8148fb18f02d0ca642c5caf8124331.tar.gz
	sha256sums = SKIP

pkgname = garuda-assistant
