pkgbase = garuda-migrations
	pkgdesc = Automatically applies system configuration changes
	pkgver = 3.5.2
	pkgrel = 1
	arch = any
	license = GPL
	depends = coreutils
	depends = sed
	depends = awk
	depends = garuda-libs>=1.1.0
	source = garuda-migrations-runner
	source = garuda-migrations.hook
	sha256sums = f49b349406caadc280fc7fa078c8969688b857542864d077771d7d78ccff5f12
	sha256sums = 6eef7ff66e8decdc668e6e49aa9bc41523d4aa9a2f722bc654d03c5d7bd83f65

pkgname = garuda-migrations
