pkgbase = powersave-tweaks
	pkgdesc = Tweaks to preserve power on Garuda Linux
	pkgver = 2.0.5
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/powersave-tweaks
	arch = any
	license = GPL
	makedepends = coreutils
	depends = hdparm
	conflicts = performanace-tweaks
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/powersave-tweaks/-/archive/2.0.0/powersave-tweaks-2.0.0.tar.gz
	sha256sums = SKIP

pkgname = powersave-tweaks
