pkgbase = garuda-wayfire-settings
	pkgdesc = Garuda Linux Wayfire settings
	pkgver = 1.0.32
	pkgrel = 2
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-wayfire-settings
	install = garuda-wayfire-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = beautyline
	depends = garuda-fish-config
	depends = ttf-fantasque-nerd
	depends = plasma5-themes-sweet-full-git
	depends = ttf-fira-sans
	depends = garuda-common-settings
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	replaces = wayfire-default-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-wayfire-settings/-/archive/1efb4d7507fd9c48870b098361ad1ba7f3d23d13/garuda-wayfire-settings-1efb4d7507fd9c48870b098361ad1ba7f3d23d13.tar.gz
	sha256sums = SKIP

pkgname = garuda-wayfire-settings
