pkgbase = garuda-wayfire-settings
	pkgdesc = Garuda Linux Wayfire settings
	pkgver = 1.0.31
	pkgrel = 2
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-wayfire-settings
	install = garuda-wayfire-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = beautyline
	depends = garuda-fish-config
	depends = ttf-fantasque-nerd
	depends = plasma5-themes-sweet-full-git
	depends = ttf-fira-sans
	depends = garuda-common-settings
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	replaces = wayfire-default-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-wayfire-settings/-/archive/c85a4fe6c7bda2667cf94606112a5f8d06125471/garuda-wayfire-settings-c85a4fe6c7bda2667cf94606112a5f8d06125471.tar.gz
	sha256sums = SKIP

pkgname = garuda-wayfire-settings
