pkgbase = garuda-wayfire-settings
	pkgdesc = Garuda Linux Wayfire settings
	pkgver = 1.0.31
	pkgrel = 2
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-wayfire-settings
	install = garuda-wayfire-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = beautyline
	depends = garuda-fish-config
	depends = ttf-fantasque-nerd
	depends = plasma5-themes-sweet-full-git
	depends = ttf-fira-sans
	depends = garuda-common-settings
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	replaces = wayfire-default-settings
	source = garuda-wayfire-settings-1.0.31.tar.gz::https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-wayfire-settings/-/archive/1.0.31/garuda-wayfire-settings-1.0.31.tar.gz
	sha256sums = 20be374aa7bcb4b0f227e257c12d0622b535e077c242ad9423d05047ea851fda

pkgname = garuda-wayfire-settings
