pkgbase = garuda-zsh-config
	pkgdesc = Zsh configuration for Garuda Linux
	pkgver = 1.1.11
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-zsh-config
	arch = any
	license = GPL
	makedepends = git
	depends = fzf
	depends = garuda-starship-prompt
	depends = mcfly
	depends = ugrep
	depends = zsh
	depends = zsh-autosuggestions
	depends = zsh-completions
	depends = zsh-history-substring-search
	depends = zsh-syntax-highlighting
	conflicts = grml-zsh-config
	conflicts = manjaro-zsh-config
	source = zshrc
	sha256sums = 7f7ba0ce00c97febe1d2beb9193da806acc2652554b12e1522beb55533ac11a2

pkgname = garuda-zsh-config
