pkgbase = mhwd-nvidia
	pkgdesc = mhwd-nvidia pci id
	pkgver = 525.60.11
	pkgrel = 1
	url = https://garudalinux.org/
	arch = any
	license = custom
	makedepends = nvidia-dkms
	makedepends = nvidia-utils
	provides = mhwd-nvidia
	source = mhwd-nvidia
	sha256sums = fed7c8b9975f5b1cf2b4f898700f80fe28a8b48719481a509339876dabbfeaa5

pkgname = mhwd-nvidia
