pkgbase = garuda-fish-config
	pkgdesc = Fish configuration of Garuda Linux
	pkgver = 1.5.25
	pkgrel = 1
	url = https://garudalinux.org
	arch = any
	license = MIT
	makedepends = git
	depends = bat
	depends = eza
	depends = expac
	depends = fish
	depends = fzf
	depends = garuda-starship-prompt
	depends = pkgfile
	depends = tealdeer
	depends = ugrep
	source = garuda-fish-completions-update.service
	source = config.fish
	source = garuda-update.fish
	source = https://raw.githubusercontent.com/franciscolourenco/done/1.19.2/conf.d/done.fish
	sha256sums = 6f7ffc81204fa908a324d0030d211e522ee0b0eee5be34b67ae885de4c02ffe7
	sha256sums = 857fabcaefbfe793d182aa8529c8dc0519b9cfd196bba5065eb85534b3ef87b5
	sha256sums = 054fb02422a08c63c4fc1a9b59ec1e90775b214a7edf53f003aec27b6c686462
	sha256sums = 10bac59fa5bd3e9d76d562bc7e8c7c4b35024c72af8575ba7e9f10f42d08708d

pkgname = garuda-fish-config
