pkgbase = plasma-applet-window-buttons
	pkgdesc = Plasma applet in order to show window buttons in your panels
	pkgver = 0.14.0
	pkgrel = 4
	url = https://github.com/optionmishra/applet-window-buttons6
	arch = x86_64
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	makedepends = extra-cmake-modules
	makedepends = git
	depends = gettext
	depends = glibc
	depends = kcolorscheme
	depends = kconfig
	depends = kcoreaddons
	depends = kdecoration
	depends = ki18n
	depends = kirigami
	depends = kitemmodels
	depends = ksvg
	depends = libplasma
	depends = libstdc++
	depends = plasma-workspace
	depends = qt6-base
	depends = qt6-declarative
	conflicts = plasma5-applets-window-buttons
	replaces = plasma5-applets-window-buttons
	source = git+https://github.com/optionmishra/applet-window-buttons6.git#commit=9b1112474dca0390408ccd0a0bbda5fa18161633
	sha256sums = 27c67af84367c78da8e31b83e6690c24b2d85238be7390c02aab7394c0c162a1

pkgname = plasma-applet-window-buttons
