pkgbase = performance-tweaks
	pkgdesc = Tweaks to improve performance
	pkgver = 2.1.2
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/performance-tweaks
	install = performance-tweaks.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = ananicy-cpp
	depends = cachyos-ananicy-rules-git
	depends = hdparm
	depends = irqbalance
	depends = preload
	conflicts = powersave-tweaks
	conflicts = tlp
	conflicts = auto-cpufreq
	conflicts = thermald
	source = performance-tweaks-2.1.2.tar.gz::https://gitlab.com/garuda-linux/themes-and-settings/settings/performance-tweaks/-/archive/2.1.2/performance-tweaks-2.1.2.tar.gz
	sha256sums = 2453da2dd2ea4b921f4d8ebe692ca2d098b67a575aa2ef08480d55d3c184bb75

pkgname = performance-tweaks
