pkgbase = performance-tweaks
	pkgdesc = Tweaks to improve performance
	pkgver = 2.2.0
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/performance-tweaks
	install = performance-tweaks.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = ananicy-cpp
	depends = cachyos-ananicy-rules-git
	depends = hdparm
	depends = irqbalance
	depends = preload
	conflicts = powersave-tweaks
	conflicts = tlp
	conflicts = auto-cpufreq
	conflicts = thermald
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/performance-tweaks/-/archive/ea00da107c497bd5b87f66422c86e2386f0bbccf/performance-tweaks-ea00da107c497bd5b87f66422c86e2386f0bbccf.tar.gz
	sha256sums = SKIP

pkgname = performance-tweaks
