pkgbase = performance-tweaks
	pkgdesc = Tweaks to improve performance
	pkgver = 2.1.2
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/performance-tweaks
	install = performance-tweaks.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = ananicy-cpp
	depends = cachyos-ananicy-rules-git
	depends = hdparm
	depends = irqbalance
	depends = preload
	conflicts = powersave-tweaks
	conflicts = tlp
	conflicts = auto-cpufreq
	conflicts = thermald
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/performance-tweaks/-/archive/adef2942d2254527d6124e99f57e9f612b5598b7/performance-tweaks-adef2942d2254527d6124e99f57e9f612b5598b7.tar.gz
	sha256sums = SKIP

pkgname = performance-tweaks
