pkgbase = calamares-git
	pkgdesc = Distribution-independent installer framework (development version)
	pkgver = 3.3.0.r38.g1d8a19724
	pkgrel = 1
	url = https://github.com/calamares/calamares
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-translations
	makedepends = git
	makedepends = boost
	depends = kconfig5
	depends = kcoreaddons5
	depends = kiconthemes5
	depends = ki18n5
	depends = kio5
	depends = solid5
	depends = yaml-cpp
	depends = kpmcore
	depends = boost-libs
	depends = ckbcomp
	depends = hwinfo
	depends = qt5-svg
	depends = polkit-qt5
	depends = gtk-update-icon-cache
	depends = plasma-framework5
	depends = qt5-xmlpatterns
	depends = squashfs-tools
	depends = libpwquality
	depends = appstream-qt5
	depends = python
	provides = calamares
	provides = calamares-dev
	conflicts = calamares
	conflicts = calamares-dev
	replaces = calamares-dev
	source = git+https://github.com/calamares/calamares.git#commit=1d8a1972422d83c36f2b934c2629ae1f564c0428
	source = garuda-fswhitelist.patch
	source = 0001-Apply-garuda-specific-patches.patch
	source = partition.conf
	source = mount.conf
	source = mhwdcfg.conf
	source = chrootcfg.conf
	sha256sums = SKIP
	sha256sums = ac4c7e5e7a3d2aeb62462bbee17f3abeaf4d25560285da4b1b1804562f1d159f
	sha256sums = d681b09c9f6daf22efb08cbcaad577487b4c749205697bf61b96d053ab50db7c
	sha256sums = 13fefb868e4ad69a1a3cf75fb8e63d075e029b2b9b622b01689571c585bfb244
	sha256sums = 0a5acb473f36b6627ccf764b29c005f53dee3c1c7ccb2fc9935075027e220f43
	sha256sums = 13250117481c1ac8d13eac00b2efc0a6b006f19ffe7b93cd87bea04b88169c4b
	sha256sums = a98b4ed205c0cc8fa0b7833aec97e48b69aea8f414be4d8f44315ed9f1c62469

pkgname = calamares-git
