pkgbase = calamares-git
	pkgdesc = Distribution-independent installer framework (development version)
	pkgver = .r10513.d8a03bb34
	pkgrel = 1
	url = https://github.com/calamares/calamares
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-translations
	makedepends = git
	makedepends = boost
	depends = kconfig5
	depends = kcoreaddons5
	depends = kiconthemes5
	depends = ki18n5
	depends = kio5
	depends = solid5
	depends = yaml-cpp
	depends = kpmcore
	depends = boost-libs
	depends = ckbcomp
	depends = hwinfo
	depends = qt5-svg
	depends = polkit-qt5
	depends = gtk-update-icon-cache
	depends = plasma-framework5
	depends = qt5-xmlpatterns
	depends = squashfs-tools
	depends = libpwquality
	depends = appstream-qt
	depends = python
	provides = calamares
	provides = calamares-dev
	conflicts = calamares
	conflicts = calamares-dev
	replaces = calamares-dev
	source = git+https://github.com/calamares/calamares.git#commit=29ef9e909
	source = garuda-fswhitelist.patch
	source = 0001-Apply-garuda-specific-patches.patch
	source = partition.conf
	source = mount.conf
	source = mhwdcfg.conf
	source = chrootcfg.conf
	sha256sums = SKIP
	sha256sums = da0c4d0fe1b73b6cf7ad78041123c2b6daae54742f518c1b18350a58efed544c
	sha256sums = 77ea25512a4fd09e29a69a11c2490bae69e438e16582555cde7f1b832720833c
	sha256sums = 13fefb868e4ad69a1a3cf75fb8e63d075e029b2b9b622b01689571c585bfb244
	sha256sums = d0f3cd62124b72752cba288a6aff6730a4b476bfdc02a258479f17af7c43a9d6
	sha256sums = d3d0952c6cd7684da42328fb0a4c1315d0419ea7c335988757731da8d4227e9a
	sha256sums = f2d2796ca54f2c10cff7622804d9f59a2c3c2a66b23633505a5977d60d25be81

pkgname = calamares-git
