pkgbase = mhwd-ati
	pkgdesc = MHWD module-ids for ati 19.1.0
	pkgver = 19.1.0
	pkgrel = 1
	url = http://xorg.freedesktop.org/
	arch = any
	license = custom
	source = http://xorg.freedesktop.org//releases/individual/driver/xf86-video-ati-19.1.0.tar.bz2
	source = mhwd-ati
	sha256sums = 659f5a1629eea5f5334d9b39b18e6807a63aa1efa33c1236d9cc53acbb223c49
	sha256sums = 4577063eb79d30ab9b2a586a8f5a716a1a5daf40bd11564eb129190d3b3cec3c

pkgname = mhwd-ati
