pkgbase = garuda-xfce-settings
	pkgdesc = Garuda Linux XFCE settings
	pkgver = 1.0.5
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-xfce-settings
	install = garuda-xfce-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = noto-fonts
	depends = garuda-common-settings
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-xfce-settings/-/archive/e135069e6acaaf30429162f522d6bd35b078a3ca/garuda-xfce-settings-e135069e6acaaf30429162f522d6bd35b078a3ca.tar.gz
	sha256sums = SKIP

pkgname = garuda-xfce-settings
