pkgbase = garuda-xfce-settings
	pkgdesc = Garuda Linux XFCE settings
	pkgver = 1.0.1
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-xfce-settings
	install = garuda-xfce-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = noto-fonts
	depends = garuda-common-settings
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-xfce-settings/-/archive/0a65ca5f6724f3503ca04585a4722e04b296c6e9/garuda-xfce-settings-0a65ca5f6724f3503ca04585a4722e04b296c6e9.tar.gz
	sha256sums = SKIP

pkgname = garuda-xfce-settings
