pkgbase = garuda-rani-git
	pkgdesc = Garuda's Reliable Assistant for Native Installations
	pkgver = 2.5.1.r30.g8c66368
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/rani
	arch = any
	license = GPL3
	makedepends = git
	makedepends = base-devel
	depends = bash
	depends = curl
	depends = electron36
	depends = pacman-contrib
	depends = garuda-libs
	depends = garuda-update
	optdepends = paru: show pending AUR updates
	optdepends = meld: compare pacdiff files via a GUI on GTK systems
	optdepends = kompare: compare pacdiff files via a GUI on Qt systems
	optdepends = pace: manage Pacman repositories via a GUI
	optdepends = reflector-simple: update Arch mirrorlists interactively
	optdepends = btrfs-assistant: easily manage Btrfs snapshots and further settings
	provides = garuda-rani
	conflicts = garuda-rani
	options = !strip
	options = !emptydirs
	options = !lto
	options = !debug
	source = git+https://gitlab.com/garuda-linux/applications/rani.git
	sha256sums = SKIP

pkgname = garuda-rani-git
