pkgbase = garuda-hyprland-settings
	pkgdesc = Garuda Linux Hyprland settings
	pkgver = 0.4.124
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-hyprland-settings
	install = garuda-hyprland-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = beautyline
	depends = garuda-common-settings
	depends = gtk-engine-murrine
	depends = plasma5-themes-sweet-full-git
	depends = waybar
	depends = hyprland-git
	depends = kvantum
	depends = ttf-fira-code
	depends = ttf-firacode-nerd
	depends = qt5ct
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-hyprland-settings/-/archive/e8a1b5705b49b14a403d7e820463d3f03bd88397/garuda-hyprland-settings-e8a1b5705b49b14a403d7e820463d3f03bd88397.tar.gz
	sha256sums = SKIP

pkgname = garuda-hyprland-settings
