pkgbase = garuda-hyprland-settings
	pkgdesc = Garuda Linux Hyprland settings
	pkgver = 0.4.144
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-hyprland-settings
	install = garuda-hyprland-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = beautyline
	depends = garuda-common-settings
	depends = gtk-engine-murrine
	depends = plasma5-themes-sweet-full-git
	depends = waybar
	depends = hyprland-git
	depends = kvantum
	depends = ttf-fira-code
	depends = ttf-firacode-nerd
	depends = qt5ct
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-hyprland-settings/-/archive/aadb32f4d347a4fa8f05b2b6616e76536cefd4b0/garuda-hyprland-settings-aadb32f4d347a4fa8f05b2b6616e76536cefd4b0.tar.gz
	sha256sums = SKIP

pkgname = garuda-hyprland-settings
