pkgbase = garuda-network-assistant
	pkgdesc = A Boot options utility for Garuda Linux
	pkgver = 1.2.0
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/garuda-network-assistant
	arch = any
	groups = garuda
	license = GPL3
	makedepends = git
	depends = qt5-base
	depends = xdg-utils
	depends = polkit
	depends = wget
	depends = net-tools
	depends = linux-wifi-hotspot
	depends = traceroute
	depends = wireless_tools
	source = https://gitlab.com/garuda-linux/applications/garuda-network-assistant/-/archive/f6de43b55d7755d21e1b10f938d7b3e6b61400a5/garuda-network-assistant-f6de43b55d7755d21e1b10f938d7b3e6b61400a5.tar.gz
	sha256sums = SKIP

pkgname = garuda-network-assistant
