pkgbase = garuda-gamer
	pkgdesc = An application which provides makes installing gaming related utilities easy
	pkgver = 1.1.9
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/garuda-gamer
	arch = any
	groups = garuda
	license = GPL3
	makedepends = git
	depends = qt5-base
	depends = xdg-utils
	depends = garuda-libs
	source = https://gitlab.com/garuda-linux/applications/garuda-gamer/-/archive/a798afe2058087ae197bb082edf84cec80f00e35/garuda-gamer-a798afe2058087ae197bb082edf84cec80f00e35.tar.gz
	sha256sums = SKIP

pkgname = garuda-gamer
