pkgbase = garuda-gamer
	pkgdesc = An application which provides makes installing gaming related utilities easy
	pkgver = 1.1.10
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/garuda-gamer
	arch = any
	groups = garuda
	license = GPL3
	makedepends = git
	depends = qt6-base
	depends = xdg-utils
	depends = garuda-libs
	source = https://gitlab.com/garuda-linux/applications/garuda-gamer/-/archive/04a2716992248647dd9204d49d1615bf4d0c6182/garuda-gamer-04a2716992248647dd9204d49d1615bf4d0c6182.tar.gz
	sha256sums = SKIP

pkgname = garuda-gamer
