pkgbase = garuda-hardware-profile-standard
	pkgdesc = Garuda Linux hardware profiles
	pkgver = 1.0.0
	pkgrel = 2
	arch = any
	license = GPL-3.0-or-later
	source = nvidia-modules-load.conf
	source = nvidia-modprobe.conf
	source = garuda-nvidia-prime-powersaving.conf
	source = 90-nvidia-prime-powermanagement.rules
	source = garuda-virtualmachine-guest-config.target
	source = garuda-nvidia-live.service
	sha256sums = 9135036c0fb97eb630e9452c75a77927f01aedf1e7359f29019acc8b4c22cf6d
	sha256sums = ee3d6dabac95eeaf9f97aa16bef05dde84fca5bb1f7351591c70f9448f988cb9
	sha256sums = b44093d0a19f8fc16977abb6eae2bfe9a55af68f2d8804c65cb60a65ca130844
	sha256sums = 2126cc483912ef916ea2bb4f4a33a65d067c515398b71741bb21561f47975e6e
	sha256sums = a6589345fac5cccea3a7830d68c83704b32ebc0f28720431e34656cae9589480
	sha256sums = 4b5e1fde346918258576bef9f87d06a2ddc75b99f734c2a638114c93add2e470

pkgname = garuda-hardware-profile-standard
	pkgdesc = Garuda Linux hardware profile with opensource drivers
	depends = xf86-video-ati
	depends = xf86-video-amdgpu
	depends = xf86-video-nouveau
	depends = vulkan-intel
	depends = vulkan-radeon
	depends = intel-media-driver
	depends = libvdpau-va-gl
	depends = libva-intel-driver
	depends = libva-mesa-driver
	depends = mesa-vdpau
	depends = vulkan-mesa-layers
	depends = vulkan-swrast
	depends = lib32-vulkan-intel
	depends = lib32-vulkan-radeon
	depends = lib32-mesa-vdpau
	depends = lib32-libva-intel-driver
	depends = lib32-libva-mesa-driver
	depends = lib32-vulkan-mesa-layers
	optdepends = opencl-mesa
	optdepends = lib32-opencl-mesa
	optdepends = intel-compute-runtime
	optdepends = libva-vdpau-driver
	optdepends = lib32-libva-vdpau-driver

pkgname = garuda-hardware-profile-nvidia
	pkgdesc = Garuda Linux hardware profile with nvidia drivers
	depends = garuda-hardware-profile-standard
	depends = egl-wayland
	depends = nvidia-utils
	depends = nvidia-settings
	depends = opencl-nvidia
	depends = lib32-nvidia-utils
	depends = lib32-opencl-nvidia
	depends = nvidia-open-dkms
	depends = nvidia-prime
	conflicts = garuda-hardware-profile-nvidia-closed

pkgname = garuda-hardware-profile-nvidia-closed
	pkgdesc = Garuda Linux hardware profile with legacy closed source nvidia kernel drivers
	depends = garuda-hardware-profile-standard
	depends = egl-wayland
	depends = nvidia-utils
	depends = nvidia-settings
	depends = opencl-nvidia
	depends = lib32-nvidia-utils
	depends = lib32-opencl-nvidia
	depends = nvidia-dkms
	depends = nvidia-prime
	conflicts = garuda-hardware-profile-nvidia-closed

pkgname = garuda-hardware-profile-nvidia-prime
	pkgdesc = Garuda Linux hardware profile with nvidia prime support (virtual package)
	depends = garuda-hardware-profile-nvidia

pkgname = garuda-hardware-profile-nvidia-prime-closed
	pkgdesc = Garuda Linux hardware profile with nvidia prime support (virtual package)
	depends = garuda-hardware-profile-nvidia-closed

pkgname = garuda-hardware-profile-vm
	pkgdesc = Garuda Linux hardware profile for virtual machines
	depends = garuda-hardware-profile-standard
	depends = xf86-video-fbdev
	depends = virtualbox-guest-utils
	depends = open-vm-tools
	depends = xf86-input-vmmouse
	depends = spice-vdagent
	depends = qemu-guest-agent
	depends = gtkmm3
