pkgbase = garuda-hardware-tool
	pkgdesc = A tool to manage hardware drivers and configurations in Garuda Linux.
	pkgver = 0.1.2
	pkgrel = 1
	arch = x86_64
	license = GPL-3.0-or-later
	depends = pciutils
	depends = coreutils
	depends = grep
	source = garuda-hardware-tool
	sha256sums = dc0424a42374b315adcf618301b30a1de848ce7546cc8ff54ec11629ca9d00b3

pkgname = garuda-hardware-tool
	pkgdesc = A tool to manage hardware drivers and configurations in Garuda Linux.
