pkgbase = garuda-hardware-tool
	pkgdesc = A tool to manage hardware drivers and configurations in Garuda Linux.
	pkgver = 1.0.2
	pkgrel = 1
	arch = x86_64
	license = GPL-3.0-or-later
	depends = pciutils
	depends = coreutils
	depends = grep
	replaces = mhwd-garuda
	replaces = mhwd-garuda-git
	replaces = mhwd-amdgpu
	replaces = mhwd-ati
	replaces = mhwd-nvidia
	replaces = mhwd-nvidia-390xx
	replaces = mhwd-nvidia-470xx
	replaces = mhwd-db-garuda-git
	replaces = mhwd-db-garuda
	source = garuda-hardware-tool
	sha256sums = 484becfdc6652c0f13249e3950c57df498ab6798ccea9e2332a0df45f313690f

pkgname = garuda-hardware-tool
	pkgdesc = A tool to manage hardware drivers and configurations in Garuda Linux.
