pkgbase = garuda-hardware-tool
	pkgdesc = A tool to manage hardware drivers and configurations in Garuda Linux.
	pkgver = 0.1.4
	pkgrel = 1
	arch = x86_64
	license = GPL-3.0-or-later
	depends = pciutils
	depends = coreutils
	depends = grep
	source = garuda-hardware-tool
	sha256sums = eeaf7c7a5d81a1af7b76f6230b25a5a6d1472b9987b8ab4a0fbbf639a6b56514

pkgname = garuda-hardware-tool
	pkgdesc = A tool to manage hardware drivers and configurations in Garuda Linux.
