pkgbase = connman-support
	pkgdesc = Meta-package for packages needed to use ConnMan
	pkgver = 1
	pkgrel = 2
	url = https://wiki.archlinux.org/index.php/ConnMan
	install = connman-support.install
	arch = any
	license = GPL
	depends = connman
	depends = gpsd
	depends = iwd
	depends = mmsd
	depends = mobile-broadband-provider-info
	depends = neard
	depends = ofono
	depends = openconnect
	depends = openresolv
	depends = openssh
	depends = openvpn
	depends = pacrunner
	depends = pptpclient
	depends = rp-pppoe
	depends = usb_modeswitch
	depends = wireguard-tools
	optdepends = cmst: A QT GUI for ConnMan
	optdepends = connman-gtk: A GTK GUI for ConnMan
	optdepends = modem-manager-gui: A GTK+ GUI for modem manager
	optdepends = phonesim: Phone Simulator for modem testing
	optdepends = qomui: OpenVPN/WireGuard QT Gui with advanced features and support for multiple providers
	conflicts = networkmanager-support
	conflicts = wpa_supplicant

pkgname = connman-support
