pkgbase = garuda-sway-settings
	pkgdesc = Garuda Linux Sway settings
	pkgver = 1.1.37
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-sway-settings
	install = garuda-sway-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = capitaine-cursors
	depends = gtk-engine-murrine
	depends = kvantum
	depends = kvantum-theme-nordic-git
	depends = qt5ct
	depends = nordic-darker-theme
	depends = sway
	depends = swayidle
	depends = swaylock
	depends = swaybg
	depends = tela-circle-icon-theme-git
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-sway-settings/-/archive/812461c6b02b88982c22d199b172774d74816f1e/garuda-sway-settings-812461c6b02b88982c22d199b172774d74816f1e.tar.gz
	sha256sums = SKIP

pkgname = garuda-sway-settings
