pkgbase = grub-theme-garuda-dr460nized
	pkgdesc = Garuda Dr460nized grub theme
	pkgver = 1.0.0
	pkgrel = 2
	url = https://gitlab.com/garuda-linux/themes-and-settings/artwork/grub-theme-garuda-dr460nized
	arch = any
	license = GPL
	source = https://gitlab.com/garuda-linux/themes-and-settings/artwork/grub-theme-garuda-dr460nized/-/archive/c0fcfad612f84e782d97a9a72879c1870aa74336/grub-theme-garuda-dr460nized-c0fcfad612f84e782d97a9a72879c1870aa74336.tar.gz
	sha256sums = SKIP

pkgname = grub-theme-garuda-dr460nized
	install = garuda-theme.install
	depends = grub
	provides = grub-theme-garuda-custom
