pkgbase = garuda-live
	pkgdesc = garuda Linux live session
	pkgver = 1.0.0
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/tools/garuda-tools-livecd
	arch = any
	license = GPL
	source = https://gitlab.com/garuda-linux/tools/garuda-tools-livecd/-/archive/52c76218eecb2c767a238adc71fd21f96075d486/garuda-tools-livecd-52c76218eecb2c767a238adc71fd21f96075d486.tar.gz
	sha256sums = SKIP

pkgname = garuda-live-base
	pkgdesc = Garuda Linux live base scripts
	depends = garuda-tools-base>=0.13
	conflicts = garuda-livecd-base
	replaces = garuda-livecd-base

pkgname = garuda-live-systemd
	pkgdesc = Garuda Linux live Systemd units
	depends = systemd
	depends = garuda-live-base
	depends = reflector
	conflicts = garuda-livecd-systemd

pkgname = garuda-live-skel
	pkgdesc = Garuda Linux live session autostart items

pkgname = garuda-live-portable-efi
	pkgdesc = Garuda Linux live session portable EFI settings
	depends = grub
