pkgbase = garuda-setup-assistant
	pkgdesc = A setup utility for Garuda Linux which helps setting up & installing applications
	pkgver = 4.4.1
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/garuda-setup-assistant
	arch = any
	groups = garuda
	license = GPL3
	makedepends = git
	makedepends = cmake
	depends = yad
	depends = wget
	depends = garuda-libs
	depends = qt6-base
	optdepends = pamac
	source = https://gitlab.com/garuda-linux/applications/garuda-setup-assistant/-/archive/ce215381199f20d6d273b8d78b57f745081c031b/garuda-setup-assistant-ce215381199f20d6d273b8d78b57f745081c031b.tar.gz
	sha256sums = SKIP

pkgname = garuda-setup-assistant
