pkgbase = garuda-setup-assistant
	pkgdesc = A setup utility for Garuda Linux which helps setting up & installing applications
	pkgver = 4.0.1
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/garuda-setup-assistant
	arch = any
	groups = garuda
	license = GPL3
	makedepends = git
	makedepends = cmake
	depends = yad
	depends = wget
	depends = garuda-libs
	depends = qt6-base
	optdepends = pamac
	source = https://gitlab.com/garuda-linux/applications/garuda-setup-assistant/-/archive/b247c02fe8d8dc1f0cf5719e31d3016b172ebd77/garuda-setup-assistant-b247c02fe8d8dc1f0cf5719e31d3016b172ebd77.tar.gz
	sha256sums = SKIP

pkgname = garuda-setup-assistant
