pkgbase = garuda-setup-assistant
	pkgdesc = A setup utility for Garuda Linux which helps setting up & installing applications
	pkgver = 4.3.0
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/garuda-setup-assistant
	arch = any
	groups = garuda
	license = GPL3
	makedepends = git
	makedepends = cmake
	depends = yad
	depends = wget
	depends = garuda-libs
	depends = qt6-base
	optdepends = pamac
	source = https://gitlab.com/garuda-linux/applications/garuda-setup-assistant/-/archive/bc60b1688884278141129716d5c2650a36c385cf/garuda-setup-assistant-bc60b1688884278141129716d5c2650a36c385cf.tar.gz
	sha256sums = SKIP

pkgname = garuda-setup-assistant
