pkgbase = garuda-mate-settings
	pkgdesc = Garuda Linux Mate settings
	pkgver = 1.5.2
	pkgrel = 3
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-mate-settings
	install = garuda-mate-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = adapta-gtk-theme
	depends = beautyline
	depends = boston-icon-theme
	depends = garuda-backgrounds
	depends = garuda-common-settings
	depends = garuda-fish-config
	depends = kvantum
	depends = plasma5-themes-sweet-full-git
	depends = ttf-firacode-nerd
	depends = yaru-icon-theme
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-mate-settings/-/archive/69625b309633cbd730dbfe33a06946f689cfae23/garuda-mate-settings-69625b309633cbd730dbfe33a06946f689cfae23.tar.gz
	sha256sums = SKIP

pkgname = garuda-mate-settings
