pkgbase = plymouth-theme-garuda-purple
	pkgdesc = The default Plymouth theme for Garuda Linux - purple version
	pkgver = 1.0.0
	pkgrel = 2
	url = https://gitlab.com/garuda-linux/themes-and-settings/artwork/plymouth-theme-garuda-purple
	install = plymouth-theme-garuda-purple.install
	arch = any
	license = GPL
	source = https://gitlab.com/garuda-linux/themes-and-settings/artwork/plymouth-theme-garuda-purple/-/archive/5e40449084e6ac4402829ac100ba95a8648c8336/plymouth-theme-garuda-purple-5e40449084e6ac4402829ac100ba95a8648c8336.tar.gz
	sha256sums = SKIP

pkgname = plymouth-theme-garuda-purple
