pkgbase = garuda-toolbox
	pkgdesc = Garuda Toolbox - A collection of useful tools to manage your Garuda Linux system
	pkgver = 6.3.0
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/toolbox
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = base-devel
	makedepends = nodejs
	makedepends = pnpm
	depends = bash
	depends = curl
	depends = electron43
	depends = pacman-contrib
	depends = garuda-libs>=1.6.0
	depends = archlinux-appstream-data
	depends = util-linux
	optdepends = paru: show pending AUR updates
	optdepends = meld: compare pacdiff files via a GUI on GTK systems
	optdepends = pace: manage Pacman repositories via a GUI
	optdepends = reflector-simple: update Arch mirrorlists interactively
	optdepends = btrfs-assistant: easily manage Btrfs snapshots and further settings
	provides = garuda-rani
	replaces = garuda-settings-manager
	replaces = garuda-settings-manager-git
	replaces = garuda-settings-manager-kcm
	replaces = garuda-settings-manager-kcm-git
	replaces = garuda-settings-manager-notifier
	replaces = garuda-settings-manager-knotifier
	replaces = garuda-settings-manager-knotifier-git
	replaces = garuda-settings-manager-notifier-git
	replaces = garuda-rani
	replaces = garuda-boot-options
	replaces = garuda-boot-repair
	replaces = garuda-assistant
	replaces = garuda-welcome
	replaces = garuda-gamer
	options = !strip
	options = !emptydirs
	options = !debug
	source = https://gitlab.com/garuda-linux/applications/toolbox/-/archive/746a4a653383e07531aaa9f58ad7b5cc487e21bc/toolbox-746a4a653383e07531aaa9f58ad7b5cc487e21bc.tar.gz
	sha256sums = 4bd6a0301eded7e3b2afe3cb4bb494e15fed3da88f155a0cecff813ac5ff1967

pkgname = garuda-toolbox
