pkgbase = garuda-bash-config
	pkgdesc = Bash configuration for Garuda Linux
	pkgver = 2.0.0
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-bash-config
	arch = any
	license = GPL
	makedepends = git
	depends = bash
	depends = bash-completion
	depends = garuda-starship-prompt
	depends = ugrep
	source = bashrc
	source = bashrc-setup.desktop
	source = stub
	sha256sums = 0523954b293c137e0d60c9b32afd7f4981167538ccf7c39dc0d6654d1f482179
	sha256sums = 8eed6302b7a8674b3a1784c599a7d7ae73e76ea8992ec324f62ec6b45f469cd5
	sha256sums = 5c69f8a2f7be29be7605716a2d9f1121120dae0c157feb0874042e4f1e55fc0e

pkgname = garuda-bash-config
