pkgbase = firedragon-next-bin
	pkgdesc = Upcoming FireDragon v13
	pkgver = 13.0.0_rc.2
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/firedragon/firedragon13
	arch = x86_64
	arch = aarch64
	license = MPL-2.0
	makedepends = git
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libpulse
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxss
	depends = libxt
	depends = mime-types
	depends = nspr
	depends = nss
	depends = pango
	depends = ttf-font
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	provides = firedragon
	conflicts = firedragon
	noextract = firedragon-v13.0.0-rc.2.linux-x64.tar.xz
	noextract = firedragon-v13.0.0-rc.2.linux-arm64.tar.xz
	options = !emptydirs
	source = firedragon::git+https://gitlab.com/garuda-linux/firedragon/firedragon13.git#tag=v13.0.0-rc.2
	sha256sums = 10fc09bb3f258d0dcdef71df16fcffe050ba73f841412f37d17c216648f39088
	source_x86_64 = firedragon-v13.0.0-rc.2.linux-x64.tar.xz::https://gitlab.com/garuda-linux/firedragon/firedragon13/-/releases/v13.0.0-rc.2/downloads/firedragon.linux-x64.tar.xz
	sha256sums_x86_64 = 43e22b1e93480205a1466fdb360564d543d815a06e865cf4ba46793b93fa6486
	source_aarch64 = firedragon-v13.0.0-rc.2.linux-arm64.tar.xz::https://gitlab.com/garuda-linux/firedragon/firedragon13/-/releases/v13.0.0-rc.2/downloads/firedragon.linux-arm64.tar.xz
	sha256sums_aarch64 = 280a5c5c85365aaadc63e6cd611ad2a2b0eb59f36f208ad6939176f0efd4ce65

pkgname = firedragon-next-bin
