pkgbase = firedragon-bin
	pkgdesc = FireDragon is a cross-platform, feature-rich and privacy-focused web browser
	pkgver = 13.1.1
	pkgrel = 1
	epoch = 2
	url = https://gitlab.com/garuda-linux/firedragon/firedragon13
	install = firedragon.install
	arch = x86_64
	arch = aarch64
	license = MPL-2.0
	makedepends = git
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libpulse
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxss
	depends = libxt
	depends = mime-types
	depends = nspr
	depends = nss
	depends = pango
	depends = ttf-font
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	provides = firedragon
	conflicts = firedragon
	replaces = firedragon-next-bin
	noextract = firedragon-v13.1.1.linux-x64.tar.xz
	noextract = firedragon-v13.1.1.linux-arm64.tar.xz
	options = !emptydirs
	source = firedragon::git+https://gitlab.com/garuda-linux/firedragon/firedragon13.git#tag=v13.1.1
	sha256sums = e669e53d0d543d9b0bea1852235b8d3ee901c5039a29182d3a16deb9336dbb78
	source_x86_64 = firedragon-v13.1.1.linux-x64.tar.xz::https://gitlab.com/garuda-linux/firedragon/firedragon13/-/releases/v13.1.1/downloads/firedragon.linux-x64.tar.xz
	sha256sums_x86_64 = 532c0a17af09c3f76788ca599c41f35cf03397856de6e7836e55e298c13a842e
	source_aarch64 = firedragon-v13.1.1.linux-arm64.tar.xz::https://gitlab.com/garuda-linux/firedragon/firedragon13/-/releases/v13.1.1/downloads/firedragon.linux-arm64.tar.xz
	sha256sums_aarch64 = b85511caf6b05b00029e4b50b5ca9f7b5f08ff99981de087548d32f057f2d755

pkgname = firedragon-bin
