pkgbase = firedragon-bin
	pkgdesc = FireDragon is a cross-platform, feature-rich and privacy-focused web browser
	pkgver = 13.1.2
	pkgrel = 1
	epoch = 2
	url = https://gitlab.com/garuda-linux/firedragon/firedragon13
	install = firedragon.install
	arch = x86_64
	arch = aarch64
	license = MPL-2.0
	makedepends = git
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libpulse
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxss
	depends = libxt
	depends = mime-types
	depends = nspr
	depends = nss
	depends = pango
	depends = ttf-font
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	provides = firedragon
	conflicts = firedragon
	replaces = firedragon-next-bin
	noextract = firedragon-v13.1.2.linux-x64.tar.xz
	noextract = firedragon-v13.1.2.linux-arm64.tar.xz
	options = !emptydirs
	source = firedragon::git+https://gitlab.com/garuda-linux/firedragon/firedragon13.git#tag=v13.1.2
	sha256sums = 1b870b52a091f05469c1fc8e1a9dfee4d06a15368e46b2b9be44b4e15edf6023
	source_x86_64 = firedragon-v13.1.2.linux-x64.tar.xz::https://gitlab.com/garuda-linux/firedragon/firedragon13/-/releases/v13.1.2/downloads/firedragon.linux-x64.tar.xz
	sha256sums_x86_64 = 6427a8a618916fab7f64762476bce6b8a011b78e8bb33c62504e32a4eeec88b4
	source_aarch64 = firedragon-v13.1.2.linux-arm64.tar.xz::https://gitlab.com/garuda-linux/firedragon/firedragon13/-/releases/v13.1.2/downloads/firedragon.linux-arm64.tar.xz
	sha256sums_aarch64 = 3aee83d6f9ae844fc7de2f591dbc1ccc9d558810135cb38d4c0014d296eb0dce

pkgname = firedragon-bin
