pkgbase = garuda-gnome-settings
	pkgdesc = Garuda Linux GNOME settings
	pkgver = 1.5.8
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-gnome-settings
	install = garuda-gnome-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-gnome-settings/-/archive/be45ad0e50b6da39eedf42bfbf852c8fc76215c9/garuda-gnome-settings-be45ad0e50b6da39eedf42bfbf852c8fc76215c9.tar.gz
	sha256sums = SKIP

pkgname = garuda-gnome-settings
	depends = garuda-backgrounds
	depends = garuda-common-settings
	depends = gnome-themes-extra
	depends = kvantum
	depends = kvantum-qt5
	depends = volantes-cursors
	depends = ttf-fira-sans
	depends = ttf-firacode-nerd
