pkgbase = garuda-gnome-settings
	pkgdesc = Garuda Linux GNOME settings
	pkgver = 1.5.4
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-gnome-settings
	install = garuda-gnome-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = garuda-gnome-settings-1.5.4.tar.gz::https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-gnome-settings/-/archive/1.5.4/garuda-gnome-settings-1.5.4.tar.gz
	sha256sums = 70b581d44bd495b2014f35e44109e4b191488ea73e821091e7a727b04f944076

pkgname = garuda-gnome-settings
	depends = garuda-backgrounds
	depends = garuda-common-settings
	depends = gnome-themes-extra
	depends = volantes-cursors
	depends = ttf-fira-sans
	depends = ttf-firacode-nerd
