pkgbase = wayfire-desktop
	pkgdesc = A meta-package to use Wayfire as a desktop
	pkgver = 1.0.0
	pkgrel = 2
	url = https://wayfire.org/
	arch = any

pkgname = wayfire-desktop
	depends = bemenu-wlroots
	depends = brightnessctl
	depends = clipman
	depends = dex
	depends = gammastep
	depends = gnome-keyring
	depends = grim
	depends = kanshi
	depends = kvantum
	depends = mako
	depends = nwg-drawer
	depends = nwg-look
	depends = perl-file-mimeinfo
	depends = playerctl
	depends = polkit-gnome
	depends = qt5-wayland
	depends = qt5ct
	depends = slurp
	depends = swayidle
	depends = swaylock
	depends = waybar
	depends = wayfire
	depends = wayvnc
	depends = wcm
	depends = wcm
	depends = wf-config
	depends = wf-osk-git
	depends = wf-recorder
	depends = wf-shell
	depends = wl-clipboard
	depends = wlogout
	depends = wofi
	depends = wtype
	depends = xdg-desktop-portal-wlr
	depends = xdg-user-dirs-gtk
	depends = xdg-utils
	optdepends = blueberry: for bluetooth
	optdepends = network-manager-applet: for nm gtk frontend
	optdepends = greetd-qtgreet: recommonded display manager
	optdepends = xorg-server-xwayland: xwayland support
	optdepends = xorg-xhost: to run xwayland apps with elevated privilage
	optdepends = alacritty: recommended terminal
	replaces = wayfire-desktop-git
