pkgbase = garuda-cinnamon-settings
	pkgdesc = Garuda Linux Cinnamon settings
	pkgver = 1.0.9
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-cinnamon-settings
	install = garuda-cinnamon-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = kvantum-qt5
	depends = noto-fonts
	depends = garuda-common-settings
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = garuda-cinnamon-settings-1.0.9.tar.gz::https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-cinnamon-settings/-/archive/1.0.9/garuda-cinnamon-settings-1.0.9.tar.gz
	sha256sums = 6a9e0c06523e59d98caee0c92673eb9ea0b43ec54520512a3106f3fca3890060

pkgname = garuda-cinnamon-settings
