pkgbase = garuda-cinnamon-settings
	pkgdesc = Garuda Linux Cinnamon settings
	pkgver = 1.0.9
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-cinnamon-settings
	install = garuda-cinnamon-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = kvantum-qt5
	depends = noto-fonts
	depends = garuda-common-settings
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-cinnamon-settings/-/archive/be36cb8c04a98b9c75d32aa1614101c0d023d552/garuda-cinnamon-settings-be36cb8c04a98b9c75d32aa1614101c0d023d552.tar.gz
	sha256sums = SKIP

pkgname = garuda-cinnamon-settings
