pkgbase = garuda-cinnamon-settings
	pkgdesc = Garuda Linux Cinnamon settings
	pkgver = 1.0.11
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-cinnamon-settings
	install = garuda-cinnamon-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = kvantum-qt5
	depends = noto-fonts
	depends = garuda-common-settings
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-cinnamon-settings/-/archive/24a6932699acf7804a8776607601956318b79073/garuda-cinnamon-settings-24a6932699acf7804a8776607601956318b79073.tar.gz
	sha256sums = SKIP

pkgname = garuda-cinnamon-settings
