pkgbase = garuda-welcome
	pkgdesc = A Welcome app for Garuda Linux
	pkgver = v1.2.5
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/garuda-welcome
	arch = any
	groups = garuda
	license = GPL3
	makedepends = git
	depends = qt5-base
	depends = xdg-utils
	depends = garuda-libs>=1.3.0
	optdepends = xorg-xrandr
	optdepends = xorg-xinput
	optdepends = garuda-assistant
	optdepends = garuda-network-assistant
	optdepends = qwikaccess
	optdepends = garuda-gamer
	optdepends = garuda-boot-options
	source = https://gitlab.com/garuda-linux/applications/garuda-welcome/-/archive/1b444f97c8f1cfd5e064b76847aff1e8d79524a1/garuda-welcome-1b444f97c8f1cfd5e064b76847aff1e8d79524a1.tar.gz
	sha256sums = SKIP

pkgname = garuda-welcome
