pkgbase = garuda-welcome
	pkgdesc = A Welcome app for Garuda Linux
	pkgver = 1.2.10
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/garuda-welcome
	arch = any
	groups = garuda
	license = GPL3
	makedepends = git
	depends = qt5-base
	depends = xdg-utils
	depends = garuda-libs>=1.3.0
	optdepends = xorg-xrandr
	optdepends = xorg-xinput
	optdepends = garuda-assistant
	optdepends = garuda-network-assistant
	optdepends = qwikaccess
	optdepends = garuda-gamer
	optdepends = garuda-boot-options
	source = https://gitlab.com/garuda-linux/applications/garuda-welcome/-/archive/e60d123d3528ff04ee9b15a57c0cc272af2b832a/garuda-welcome-e60d123d3528ff04ee9b15a57c0cc272af2b832a.tar.gz
	sha256sums = SKIP

pkgname = garuda-welcome
