pkgbase = garuda-common-settings
	pkgdesc = Garuda Linux common settings
	pkgver = 2.6.22
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-common-settings
	install = garuda-common-settings.install
	arch = any
	license = GPL
	makedepends = polkit
	depends = btrfsmaintenance
	depends = garuda-bash-config
	depends = garuda-hooks
	depends = garuda-icons
	depends = garuda-migrations
	depends = garuda-update
	depends = garuda-wallpapers
	depends = profile-sync-daemon
	depends = zram-generator
	depends = systemd-oomd-defaults
	depends = noto-color-emoji-fontconfig
	optdepends = garuda-browser-settings: Garuda Linux Browser settings
	optdepends = performance-tweaks: Tuning for best performance
	optdepends = powersave-tweaks: Tuning for lower power usage
	optdepends = pacutils: Required for garuda-inxi funstuff
	conflicts = systemd-swap
	conflicts = ipw2100-fw
	conflicts = ipw2200-fw
	conflicts = firedragon-extension-xdm-browser-monitor
	backup = etc/sudoers.d/editor
	backup = etc/sudoers.d/insults
	backup = etc/sudoers.d/pwfeedback
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-common-settings/-/archive/ee4ce025de0a4e53cd53ad06c8bfaf10e2dd99b2/garuda-common-settings-ee4ce025de0a4e53cd53ad06c8bfaf10e2dd99b2.tar.gz
	sha256sums = SKIP

pkgname = garuda-common-settings
