pkgbase = garuda-common-settings
	pkgdesc = Garuda Linux common settings
	pkgver = 2.12.0
	pkgrel = 2
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-common-settings
	install = garuda-common-settings.install
	arch = any
	license = GPL
	makedepends = polkit
	optdepends = garuda-browser-settings: Garuda Linux Browser settings
	optdepends = performance-tweaks: Tuning for best performance
	optdepends = powersave-tweaks: Tuning for lower power usage
	optdepends = pacutils: Required for garuda-inxi funstuff
	conflicts = systemd-swap
	conflicts = ipw2100-fw
	conflicts = ipw2200-fw
	conflicts = firedragon-extension-xdm-browser-monitor
	backup = etc/sudoers.d/editor
	backup = etc/sudoers.d/insults
	backup = etc/sudoers.d/pwfeedback
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-common-settings/-/archive/848d4f2d25f6b64c934bb1a44cb468a4eaee108a/garuda-common-settings-848d4f2d25f6b64c934bb1a44cb468a4eaee108a.tar.gz
	sha256sums = SKIP

pkgname = garuda-common-settings
	depends = btrfsmaintenance
	depends = garuda-bash-config
	depends = garuda-hardware-tool
	depends = garuda-health
	depends = garuda-hooks
	depends = garuda-icons
	depends = garuda-migrations
	depends = garuda-update
	depends = garuda-wallpapers
	depends = zram-generator
	depends = systemd-oomd-defaults
	depends = noto-color-emoji-fontconfig
