pkgbase = garuda-qtile-settings
	pkgdesc = Garuda Linux Qtile settings
	pkgver = 3.2.4
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-qtile-settings
	install = garuda-qtile-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-qtile-settings/-/archive/30c7f6ca8677041180ddc77f293fa6dbadc7b4b6/garuda-qtile-settings-30c7f6ca8677041180ddc77f293fa6dbadc7b4b6.tar.gz
	sha256sums = SKIP

pkgname = garuda-qtile-settings
