pkgbase = garuda-qtile-settings
	pkgdesc = Garuda Linux Qtile settings
	pkgver = 3.2.3
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-qtile-settings
	install = garuda-qtile-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-qtile-settings/-/archive/3.2.4/garuda-qtile-settings-3.2.4.tar.gz
	sha256sums = SKIP

pkgname = garuda-qtile-settings
