pkgbase = garuda-mokka
	pkgdesc = Garuda Mokka desktop settings and presets
	pkgver = 2.0.0
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-mokka
	install = garuda-mokka.install
	arch = any
	license = GPL
	makedepends = git
	makedepends = unzip
	makedepends = wget
	makedepends = sassc
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	conflicts = plasma5-themes-sweet-full-git
	conflicts = plasma5-themes-sweet-kde-git
	conflicts = kwin-effects-forceblur
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-mokka/-/archive/2b1c2c9fd183635a698c35055e9cfeed63efb519/garuda-mokka-2b1c2c9fd183635a698c35055e9cfeed63efb519.tar.gz
	source = git+https://github.com/catppuccin/kde.git#commit=da69a64d239731fa344cc22ba14f3651dde540ac
	source = git+https://github.com/catppuccin/micro.git#commit=015a2bb208f61a2d5a33121de2644bf4a059436b
	source = git+https://github.com/catppuccin/conky.git#commit=eff06f767736fbf6d72641d5aef5ea1e507bb760
	source = git+https://github.com/catppuccin/konsole#commit=3b64040e3f4ae5afb2347e7be8a38bc3cd8c73a8
	source = git+https://github.com/catppuccin/bat.git#commit=6810349b28055dce54076712fc05fc68da4b8ec0
	source = git+https://github.com/catppuccin/grub.git#commit=0a37ab19f654e77129b409fed371891c01ffd0b9
	source = git+https://github.com/vinceliuice/Colloid-gtk-theme.git#commit=fd805dbeeacb12f7971b98408c415c3f472e5aef
	source = install.sh
	sha256sums = SKIP
	sha256sums = 914beff2114add4050422c1f5fd8b6e520b70d17ce408cf7dd0846a8af363b05
	sha256sums = 0fd3d84a7f6cb994eb025676f9204e1137a028d555031ceae0a02a0ba47bb7f7
	sha256sums = 11810db2a7716bc1d9e93187ddd413e64a7155f5ef99c3b61b408e790e1adae3
	sha256sums = 9d33648bffaa549068547a755b84fb84a6b0c73d741b0a13195c19a18f5288c4
	sha256sums = 0f86844bae7efaeeafdfb306378a3eeaf4f39d23f660b676a6ad550e9f095b78
	sha256sums = b0f4b2c475ae519db65cbe3f62048e7bcd06ff31d40cf6a1bff886ddb4344275
	sha256sums = 705b5f7fa694a755f330f5c2d5aa7f50634fa4a9423eda645305f2e04692c0d1
	sha256sums = a6931fd907955997f80a56ea436b83a81d7da1839840f96bce90f849ddc976af

pkgname = garuda-mokka
	depends = garuda-common-settings
	depends = garuda-fish-config
	depends = garuda-icons
	depends = garuda-wallpapers
	depends = inter-font
	depends = ttf-jetbrains-mono-nerd
	depends = kvantum
	depends = kwin-effects-better-blur-dx
	depends = kwin-effect-rounded-corners-git
	depends = plasma-applet-window-buttons
	depends = plasma-login-manager
	depends = plasma-systemmonitor
	depends = plasma6-applets-window-title
	depends = plasma6-applets-panel-colorizer
	depends = plasma6-wallpapers-blurredwallpaper
	depends = tela-circle-icon-theme-dracula
	depends = xdg-desktop-portal-gtk
