pkgbase = plymouth-theme-mokka
	pkgdesc = Plymouth theme for Garuda Mokka
	pkgver = r11.b061160
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/artwork/plymouth-theme-mokka
	install = plymouth-theme-mokka.install
	arch = any
	license = GPL
	makedepends = git
	source = git+https://gitlab.com/garuda-linux/themes-and-settings/artwork/plymouth-theme-mokka.git
	sha256sums = SKIP

pkgname = plymouth-theme-mokka
