pkgbase = garuda-boot-options
	pkgdesc = A Boot options utility for Garuda Linux
	pkgver = 1.1.2
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/applications/garuda-boot-options
	arch = any
	groups = garuda
	license = GPL3
	makedepends = git
	depends = qt5-base
	depends = xdg-utils
	depends = grub
	depends = polkit
	optdepends = plymouth
	conflicts = grub-customizer
	source = https://gitlab.com/garuda-linux/applications/garuda-boot-options/-/archive/209529c4ae4a4b489a210f3b5f479d4783ac62fd/garuda-boot-options-209529c4ae4a4b489a210f3b5f479d4783ac62fd.tar.gz
	sha256sums = SKIP

pkgname = garuda-boot-options
