pkgbase = grub-theme-garuda
	pkgdesc = Garuda Linux GRUB theme
	pkgver = 1.0.0
	pkgrel = 3
	url = https://gitlab.com/garuda-linux/themes-and-settings/grub-theme-garuda
	arch = any
	license = GPL
	source = https://gitlab.com/garuda-linux/themes-and-settings/artwork/grub-theme-garuda/-/archive/3227828e441b2d4b30e553b0a939f5ed3acb8528/grub-theme-garuda-3227828e441b2d4b30e553b0a939f5ed3acb8528.tar.gz
	sha256sums = SKIP

pkgname = grub-theme-garuda-live-common
	depends = grub

pkgname = grub-theme-garuda-live
	depends = grub-theme-garuda-live-common

pkgname = grub-theme-garuda
	install = garuda-theme.install
	depends = grub
