pkgbase = mhwd-db-garuda
	pkgdesc = MHWD-db backported to Archlinux with additional features and limited to DKMS drivers
	pkgver = 1.1.6
	pkgrel = 1
	epoch = 2
	url = https://gitlab.com/garuda-linux/applications/mhwd-db-garuda
	install = mhwd-db-garuda.install
	arch = any
	license = GPL
	makedepends = git
	makedepends = cmake
	depends = hwinfo
	depends = gcc-libs
	depends = mhwd-nvidia
	depends = mhwd-ati
	depends = mhwd-amdgpu
	depends = mhwd-nvidia-470xx
	depends = mhwd-nvidia-390xx
	source = https://gitlab.com/garuda-linux/applications/mhwd-db-garuda/-/archive/0d8a137f19e3bb0888194ea93b291b1f0847fc85/mhwd-db-garuda-0d8a137f19e3bb0888194ea93b291b1f0847fc85.tar.gz
	source = 90-nvidia-prime-powermanagement.rules
	source = garuda-optimus-manager-config.hook
	source = garuda-virtualmachine-guest-config.target
	source = modules-load
	source = garuda-nvidia-prime-powersaving.conf
	source = nvidia-modprobe.conf
	sha256sums = SKIP
	sha256sums = 2126cc483912ef916ea2bb4f4a33a65d067c515398b71741bb21561f47975e6e
	sha256sums = 387a98be7c12a0edd95bd8122145e27e612fe098d349e43e5084a8f7e9134b55
	sha256sums = a6589345fac5cccea3a7830d68c83704b32ebc0f28720431e34656cae9589480
	sha256sums = 9135036c0fb97eb630e9452c75a77927f01aedf1e7359f29019acc8b4c22cf6d
	sha256sums = b44093d0a19f8fc16977abb6eae2bfe9a55af68f2d8804c65cb60a65ca130844
	sha256sums = ee3d6dabac95eeaf9f97aa16bef05dde84fca5bb1f7351591c70f9448f988cb9

pkgname = mhwd-db-garuda
	provides = mhwd-db
	provides = mhwd-db-garuda-git
	conflicts = mhwd-db
	conflicts = mhwd-db-garuda-git
	replaces = mhwd-db-garuda-git

pkgname = garuda-virtualmachine-guest-config
	pkgdesc = Meta configuration package for virtual machine systems on Garuda Linux
	install = garuda-virtualmachine-guest-config.install
	arch = any
	depends = virtualbox-guest-utils
	depends = xf86-video-vmware
	depends = open-vm-tools
	depends = xf86-input-vmmouse
	depends = spice-vdagent
	depends = qemu-guest-agent
	depends = gtkmm3

pkgname = garuda-video-linux-config
	pkgdesc = Meta configuration package for common open source drivers on Garuda Linux
	install = garuda-video-linux-config.install
	arch = any
	depends = xf86-video-ati
	depends = xf86-video-amdgpu
	depends = xf86-video-nouveau
	depends = vulkan-intel
	depends = vulkan-radeon
	depends = intel-media-driver
	depends = libvdpau-va-gl
	depends = libva-intel-driver
	depends = libva-mesa-driver
	depends = mesa-vdpau
	depends = vulkan-mesa-layers
	depends = vulkan-swrast
	depends = lib32-vulkan-intel
	depends = lib32-vulkan-radeon
	depends = lib32-mesa-vdpau
	depends = lib32-libva-intel-driver
	depends = lib32-libva-mesa-driver
	depends = lib32-vulkan-mesa-layers
	optdepends = opencl-mesa
	optdepends = lib32-opencl-mesa
	optdepends = intel-compute-runtime
	optdepends = libva-vdpau-driver
	optdepends = lib32-libva-vdpau-driver

pkgname = garuda-nvidia-config
	pkgdesc = Meta configuration package for nvidia systems on Garuda Linux
	arch = any
	depends = egl-wayland
	depends = gwe
	depends = nvidia-utils
	depends = nvidia-settings
	depends = opencl-nvidia
	depends = lib32-nvidia-utils
	depends = lib32-opencl-nvidia
	depends = nvidia-dkms
	conflicts = garuda-nvidia-470xx-config
	conflicts = garuda-nvidia-470xx-prime-config
	conflicts = garuda-optimus-manager-470xx-config

pkgname = garuda-nvidia-prime-config
	pkgdesc = Meta configuration package for nvidia prime systems on Garuda Linux:
	depends = garuda-nvidia-config
	depends = nvidia-prime
	depends = garuda-video-linux-config
	conflicts = garuda-optimus-manager-config
	conflicts = optimus-manager

pkgname = garuda-optimus-manager-config
	pkgdesc = Meta configuration package for nvidia prime systems on Garuda Linux:
	install = garuda-optimus-manager-config.install
	depends = garuda-nvidia-config
	depends = nvidia-prime
	depends = optimus-manager
	depends = optimus-manager-qt
	depends = bbswitch-dkms
	depends = acpi_call-dkms
	depends = garuda-video-linux-config
	conflicts = garuda-nvidia-prime-config

pkgname = garuda-nvidia-470xx-config
	pkgdesc = Meta configuration package for nvidia systems on Garuda Linux
	arch = any
	depends = egl-wayland
	depends = gwe
	depends = nvidia-470xx-utils
	depends = nvidia-470xx-settings
	depends = opencl-nvidia-470xx
	depends = lib32-nvidia-470xx-utils
	depends = lib32-opencl-nvidia-470xx
	depends = nvidia-470xx-dkms
	conflicts = garuda-nvidia-config
	conflicts = garuda-nvidia-prime-config
	conflicts = garuda-optimus-manager-config

pkgname = garuda-nvidia-470xx-prime-config
	pkgdesc = Meta configuration package for nvidia prime systems on Garuda Linux:
	depends = garuda-nvidia-470xx-config
	depends = nvidia-prime
	depends = garuda-video-linux-config
	conflicts = garuda-optimus-manager-470xx-config
	conflicts = optimus-manager

pkgname = garuda-optimus-manager-470xx-config
	pkgdesc = Meta configuration package for nvidia prime systems on Garuda Linux:
	install = garuda-optimus-manager-config.install
	depends = garuda-nvidia-470xx-config
	depends = nvidia-prime
	depends = optimus-manager
	depends = optimus-manager-qt
	depends = bbswitch-dkms
	depends = acpi_call-dkms
	depends = garuda-video-linux-config
	conflicts = garuda-nvidia-470xx-prime-config
