pkgbase = garuda-health
	pkgdesc = The Garuda Linux health checker command
	pkgver = 1.10.3
	pkgrel = 1
	arch = any
	license = GPL-3.0-or-later
	source = garuda-health
	sha512sums = 90c1354642cf564af73c0944c3bcb21b862e628b2df7e721b0603982c73d0ff6c2dd02719993b5d769794b51c95d3b02bfdc22603a90cc16274ec9bff9db61ee

pkgname = garuda-health
	depends = garuda-update
	depends = pacman
	depends = python
	optdepends = smartmontools: for SMART disk health checks
