pkgbase = garuda-rani
	pkgdesc = Garuda's Reliable Assistant for Native Installations
	pkgver = 1.2.0
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-rani
	install = garuda-rani.install
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = file
	makedepends = openssl
	makedepends = appmenu-gtk-module
	makedepends = libappindicator-gtk3
	makedepends = librsvg
	makedepends = base-devel
	makedepends = curl
	makedepends = wget
	makedepends = rustup
	makedepends = nodejs
	makedepends = dpkg
	makedepends = pnpm>10
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup
	depends = pango
	depends = webkit2gtk-4.1
	depends = pacman-contrib
	optdepends = paru: helper for installing games from AUR
	conflicts = garuda-rani-git
	options = !strip
	options = !emptydirs
	options = !lto
	options = !debug
	source = https://gitlab.com/garuda-linux/applications/rani/-/archive/41cc08a404b08b5b1bcbee5d9cd5021885b42956/rani-41cc08a404b08b5b1bcbee5d9cd5021885b42956.tar.gz
	sha256sums = SKIP

pkgname = garuda-rani
