pkgbase = garuda-reduce-verbosity
	pkgdesc = Reduce verbosity of some actions (sudo, pacman hooks)
	pkgver = 1.0.1
	pkgrel = 1
	arch = any
	license = GPL
	source = noinsults
	sha256sums = 0ae5c44a8d0e062f5f6d13b5b8ec723e1753376c16b435c90b51b5e6d62cf338

pkgname = garuda-reduce-verbosity
