pkgbase = garuda-mokka
	pkgdesc = Garuda Mokka desktop settings and presets
	pkgver = 1.0.2
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-mokka
	install = garuda-mokka.install
	arch = any
	license = GPL
	makedepends = git
	makedepends = unzip
	makedepends = wget
	makedepends = sassc
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	conflicts = plasma5-themes-sweet-full-git
	conflicts = plasma5-themes-sweet-kde-git
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-mokka/-/archive/176c228632b296a81588e81e2e08a5b6e1a83e08/garuda-mokka-176c228632b296a81588e81e2e08a5b6e1a83e08.tar.gz
	source = git+https://github.com/catppuccin/kde.git#commit=0909503d388578953142509052b8402a7ef43da5
	source = git+https://github.com/catppuccin/micro.git#commit=2802b32308e5b1a827689c095f11ae604bbc85e6
	source = git+https://github.com/catppuccin/conky.git#commit=eff06f767736fbf6d72641d5aef5ea1e507bb760
	source = git+https://github.com/catppuccin/fish.git#commit=cc8e4d8fffbdaab07b3979131030b234596f18da
	source = git+https://github.com/catppuccin/konsole#commit=3b64040e3f4ae5afb2347e7be8a38bc3cd8c73a8
	source = git+https://github.com/catppuccin/bat.git#commit=699f60fc8ec434574ca7451b444b880430319941
	source = git+https://github.com/catppuccin/grub.git#commit=2a5c8be8185dae49dd22030df45860df8c796312
	source = git+https://github.com/vinceliuice/Colloid-gtk-theme.git#commit=559faed6062b6c891c9d1f0c778e66841209fb27
	sha256sums = SKIP
	sha256sums = 57887bc078a1728c15c1d226ebd5902be813d96b0f23f5a346be5bc68d68b320
	sha256sums = da7ddf15703372a3432fe3c3fe8265d462ee97fcc0f4b681c61790c2e8d0340f
	sha256sums = 11810db2a7716bc1d9e93187ddd413e64a7155f5ef99c3b61b408e790e1adae3
	sha256sums = eaf82aaafdc83c6569a6805fa5727d18a22dcacc08668a29499c4d263900ec65
	sha256sums = 9d33648bffaa549068547a755b84fb84a6b0c73d741b0a13195c19a18f5288c4
	sha256sums = d83bf03ebacf325d234ff6c7330c279d59580e9eed06f5edc1a292be09d928e5
	sha256sums = 524c66178ba7d3988f0b3f9f0bedb2f9f0cb720bda8083a3f33b258b25e54b82
	sha256sums = 00874e98c0f1c82039b6a0e96ff1cf0bda814b303d0f872a8694367cae5e9249

pkgname = garuda-mokka
	depends = garuda-common-settings
	depends = garuda-fish-config
	depends = garuda-icons
	depends = garuda-wallpapers
	depends = inter-font
	depends = ttf-jetbrains-mono-nerd
	depends = kvantum
	depends = kwin-effects-forceblur
	depends = plasma-applet-window-buttons
	depends = plasma-systemmonitor
	depends = plasma6-applets-window-title
	depends = plasma6-applets-panel-colorizer
	depends = plasma6-wallpapers-blurredwallpaper
	depends = tela-circle-icon-theme-dracula
	depends = xdg-desktop-portal-gtk
