pkgbase = plymouth-theme-dr460nized
	pkgdesc = Plymouth theme for Garuda dr460nized
	pkgver = 1.0.0
	pkgrel = 3
	url = https://gitlab.com/garuda-linux/themes-and-settings/artwork/plymouth-theme-dr460nized
	install = plymouth-theme-dr460nized.install
	arch = any
	license = GPL
	source = https://gitlab.com/garuda-linux/themes-and-settings/artwork/plymouth-theme-dr460nized/-/archive/f7f946a2c7c8facd3e012ec84b34e15e1292388b/plymouth-theme-dr460nized-f7f946a2c7c8facd3e012ec84b34e15e1292388b.tar.gz
	sha256sums = SKIP

pkgname = plymouth-theme-dr460nized
