pkgbase = garuda-dr460nized
	pkgdesc = Dr460nized settings
	pkgver = 3.0.8
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-dr460nized
	install = garuda-dr460nized.install
	arch = any
	license = GPL
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	replaces = garuda-dr460nized-next
	source = garuda-dr460nized-3.0.8.tar.gz::https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-dr460nized/-/archive/3.0.8/garuda-dr460nized-3.0.8.tar.gz
	sha256sums = 1acbc8f90547cbef8a381dd09e25eac65085064514b44c51e1146e9821ce6c7e

pkgname = garuda-dr460nized
	depends = beautyline
	depends = garuda-common-settings
	depends = garuda-icons
	depends = garuda-fish-config
	depends = garuda-wallpapers
	depends = ksysguard
	depends = kvantum
	depends = plasma5-applets-window-appmenu
	depends = plasma5-applets-window-buttons
	depends = plasma5-applets-window-title
	depends = plasma5-applets-betterinlineclock-git
	depends = plasma5-wallpapers-blurredwallpaper
	depends = plasma5-themes-sweet-full-git
	depends = ttf-fira-sans
	depends = ttf-firacode-nerd
