pkgbase = garuda-dr460nized
	pkgdesc = Dr460nized settings
	pkgver = 4.5.2
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-dr460nized
	install = garuda-dr460nized.install
	arch = any
	license = GPL
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	conflicts = plasma5-applets-window-appmenu
	conflicts = plasma5-applets-window-buttons
	conflicts = plasma5-applets-window-title
	conflicts = plasma5-applets-betterinlineclock-git
	conflicts = plasma5-wallpapers-blurredwallpaper
	replaces = garuda-dr460nized-next
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-dr460nized/-/archive/d10f03224578bd5cd95effdcf4656fdd1c67ab2a/garuda-dr460nized-d10f03224578bd5cd95effdcf4656fdd1c67ab2a.tar.gz
	sha256sums = SKIP

pkgname = garuda-dr460nized
	depends = beautyline
	depends = garuda-common-settings
	depends = garuda-fish-config
	depends = garuda-icons
	depends = garuda-wallpapers
	depends = kvantum
	depends = plasma-applet-window-buttons
	depends = plasma-systemmonitor
	depends = plasma5-themes-sweet-full-git
	depends = plasma6-applets-window-title
	depends = plasma6-wallpapers-blurredwallpaper
	depends = ttf-fira-sans
	depends = ttf-firacode-nerd
