pkgbase = garuda-dr460nized
	pkgdesc = Dr460nized settings
	pkgver = 5.0.4
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-dr460nized
	install = garuda-dr460nized.install
	arch = any
	license = GPL
	provides = garuda-desktop-settings
	conflicts = garuda-desktop-settings
	conflicts = plasma5-applets-window-appmenu
	conflicts = plasma5-applets-window-buttons
	conflicts = plasma5-applets-window-title
	conflicts = plasma5-applets-betterinlineclock-git
	conflicts = plasma5-wallpapers-blurredwallpaper
	conflicts = kwin-effects-forceblur
	replaces = garuda-dr460nized-next
	source = https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-dr460nized/-/archive/03c6289f94d335655ece38eea410da4855fe6660/garuda-dr460nized-03c6289f94d335655ece38eea410da4855fe6660.tar.gz
	source = dr460nized-patch.hook
	sha256sums = f142061b8138bc9ee07001c346b299b82e059cc7bc838701f28a7c2b15a3b0a2
	sha256sums = 4121188ba1198f415f151a293a808c507c53128daa4165eb628e4b0e794a0c5f

pkgname = garuda-dr460nized
	depends = beautyline
	depends = garuda-common-settings
	depends = garuda-fish-config
	depends = garuda-icons
	depends = garuda-wallpapers
	depends = kvantum
	depends = kvantum-qt5
	depends = plasma-applet-window-buttons
	depends = plasma-login-manager
	depends = plasma-systemmonitor
	depends = plasma5-themes-sweet-full-git
	depends = plasma6-applets-window-title
	depends = plasma6-applets-panel-colorizer
	depends = plasma6-wallpapers-blurredwallpaper
	depends = ttf-fira-sans
	depends = ttf-firacode-nerd
	depends = xdg-desktop-portal-gtk
