pkgbase = garuda-wallpapers
	pkgdesc = Garuda's default wallpaper collection
	pkgver = r89.931d2e5
	pkgrel = 1
	url = https://gitlab.com/garuda-linux/themes-and-settings/artwork/garuda-wallpapers
	arch = any
	license = GPLv3
	makedepends = git
	source = git+https://gitlab.com/garuda-linux/themes-and-settings/artwork/garuda-wallpapers.git
	sha256sums = SKIP

pkgname = garuda-wallpapers
