pkgbase = printer-support
	pkgdesc = Meta-package for packages needed to use printers
	pkgver = 1
	pkgrel = 6
	url = https://wiki.archlinux.org/index.php/Category:Printers
	install = printer-support.install
	arch = any
	license = GPL
	depends = a2ps
	depends = bluez-cups
	depends = cups
	depends = cups-filters
	depends = cups-pdf
	depends = cups-pk-helper
	depends = foomatic-db
	depends = foomatic-db-engine
	depends = foomatic-db-gutenprint-ppds
	depends = foomatic-db-nonfree
	depends = foomatic-db-nonfree-ppds
	depends = foomatic-db-ppds
	depends = ghostscript
	depends = gsfonts
	depends = gutenprint
	depends = noto-color-emoji-fontconfig
	depends = splix
	optdepends = system-config-printer: A GTK GUI for printer
	optdepends = hplip: HP printer driver
	optdepends = print-manager: A KDE tool for managing print jobs and printers

pkgname = printer-support
